{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Index Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <h1>Welcome to My HTML RENDERING</h1>
    <a class="text-white" href="/about">About Page</a><br />
    <a class="text-white" href="{% url 'about' %}">About Page</a><br />
    <a class="text-white" href="{% url 'posts' %}">Posts</a><br />

    {% if not request.user.is_authenticated %}
    <a
      class="bg-white text-black p-2 block w-fit"
      href="{% url 'custom_create_user' %}"
      >Signup/Signin</a
    ><br />
    {% else %}
    <a
      class="bg-white text-black p-2 block w-fit"
      href="{% url 'student_list' %}"
      >Continue</a
    ><br />
    {% endif %}
    <img
      src="{% static 'images/goat.jpg' %}"
      alt="Goat Image"
      width="500"
      height="500"
    /><br />
    <img
      src="../static/images/goat.jpg"
      alt="Goat Image"
      width="500"
      height="500"
    />
  </body>
</html>
