{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="p-15 grid h-screen w-full items-center justify-center">
      <form
        action="{% url 'submit_form' %}"
        class="grid items-start p-2 shadow-2xl w-80 max-w-125"
        method="POST"
      >
        {% csrf_token %}
        <input
          class="w-full p-2"
          name="username"
          type="text"
          placeholder="Enter your name"
        /><br />
        <input
          class="w-full p-2"
          type="text"
          name="department"
          placeholder="Enter your Department"
        /><br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
